* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    ;
}


html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4940f1;
    --secundaria: #7a32f5;
    --escuro: #0f1a31;
    --maisEscuro: #0b1120;
    --claro: #dce0e6;
    --vidro: rgba(255, 255, 255, 0.2);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
    user-select: none;
}

.navegacao {
    position: fixed;
    top: 0;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.5s ease;
}

.menu-link:hover {
    color: var(--secundaria);
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px regba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
}

h1 {
    font-size: 3.2rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 10px;

}

.cabecalho-sub-titulo {
    font-size: 1.3rem;
    color: var(--claro);

}

.caixa-sessao {
    padding: 6rem 2rem;
}

.titulo {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    margin-bottom: 100px;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1rem;
    line-height: 1.7rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.projetos-card {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5 ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 220, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.caixa-texto-projeto {
    padding: 1.5rem;
}

.formulatio-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}

.campo-form {
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border: 1px solid var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 220, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    width: 100%;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
}
.botao-form p{
        font-weight: bold;

}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 220, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%), var(--maisEscuro);
}
.icons{
    width: 30px;
    height: 30px;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
